build/
cmake-build-*/
CMakeFiles/
.qt/
dist/
*.user
*.autosave
CMakeLists.txt.user
.DS_Store
Thumbs.db
*.obj
*.o
*.exe
*.pdb
*.dll
*.a
*.so
*.so.*
*.dylib
__pycache__/
*.pyc
icon2000.png
ltcengine_extract/
ltcengine_archive.zip
ltcengine/build*/
ltcengine/build-linux/
ltcengine/bin/
ltcengine/wallet/
